* {
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
}

a {
  color: white;
  text-decoration: none;
}

.imgStyle {
  width: 100%;
  height: 100%;
}

/* 
  MARK: Header
*/
header {
  color: white;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  /* overflow: hidden; */
  background-image: url(../images/bg.jpg);
}

.homeLayer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(78, 78, 78, 0.2);
}

#navbare {
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* background-color: #bb3; */
}

#Logo {
  width: 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: 3%;
  /* background-color: #f5f; */
}

#navLinksContainer {
  width: 48%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 0px 20px;
  /* background-color: #c22; */
}

#navLinksContainer a {
  color: white;
  font-size: 20px;
  text-decoration: none;
}

#headerContainer {
  min-width: 45%;
  max-width: 49%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  /* background-color: #76a; */
}

.headerTxtStyle {
  font-size: 21px;
  line-height: 1.6;
  font-family: "Libre Franklin", sans-serif;
}

.bakeryNameStyle {
  font-size: 5rem;
  font-family: "Alegreya", serif;
}

#headerBtnsContainer {
  min-width: 300px;
  max-width: 400px;
  height: 13%;
  font-size: 17px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  /* background-color: #5cc; */
}

.btn {
  width: 130px;
  /* width: 40%; */
  height: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  border: 2px solid white;
}

.learnMore {
  border-color: #8e7754;
  background-color: #8e7754;
}

/* 
  MARK: About
*/
.aboutPageContainer {
  width: 100%;
  height: 80vh;
  padding: 2.5% 0%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* background-color: rgb(196, 107, 196); */
}

.imgSection {
  width: 45%;
  height: 100%;
  /* background-color: #c93; */
}

.dicripSection {
  width: 44%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  /* background-color: aqua; */
}

.pageTitle {
  /* height: 15%; */
  font-size: 40px;
  align-self: flex-start;
  font-family: "Alegreya", serif;
  /* background-color: tomato; */
}

.discripTxt {
  min-height: 30%;
  max-height: 55%;
  color: rgb(83, 81, 81);
  font-size: 18px;
  text-align: left;
  display: flex;
  align-items: center;
  line-height: 1.8;
  overflow: hidden;
  font-family: "Libre Franklin", sans-serif;
  /* background-color: lightsalmon; */
}

.prosList {
  width: 100%;
  height: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* background-color: gray; */
}

.prosItem {
  width: 100%;
  height: 28%;
  margin-bottom: 2%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  /* background-color: pink; */
}

.iconContainer {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: green; */
}

.iconCircle {
  width: 50px;
  height: 100%;
  display: flex;
  font-size: 25px;
  align-items: center;
  border-radius: 50%;
  color: #8e7754;
  justify-content: center;
  border: 1px rgb(191, 189, 189) solid;
  /* background-color: red; */
}

.prosDiscripContainer {
  width: 90%;
  height: 100%;
  display: flex;
  align-items: center;
  /* background-color: blue; */
}

.prosTxt {
  margin-left: 2%;
  font-size: 18px;
  line-height: 1;
  color: rgb(83, 81, 81);
  font-family: "Libre Franklin", sans-serif;
  /* background-color: burlywood; */
}

/* 
  MARK: Location
*/
.locationPageContainer {
  padding: 3% 0%;
  background-color: #f8f8f8;
  width: 100%;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* 
  MARK: Offers 
*/
.catPageContainer {
  width: 100%;
  min-height: 80vh;
  max-height: 100vh;
  padding: 1% 0%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  /* background-color: yellow; */
}

.catPageTitle {
  height: 10%;
  font-size: 38px;
  font-family: "Alegreya", serif;
  /* background-color: bisque; */
}

.catPageCaption {
  font-size: 17px;
  color: rgb(83, 81, 81);
  font-family: "Libre Franklin", sans-serif;
}

.catSections {
  width: 95%;
  min-height: 85%;
  max-height: 90%;
  padding: 1% 0%;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  /* background-color: orangered; */
}

.catItem {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  /* background-color: green; */
}

.catImg {
  width: 90%;
  height: 60%;
}

.catName {
  height: 15%;
  display: flex;
  align-items: center;
  font-size: 25px;
  margin-bottom: 1%;
  font-family: "Alegreya", serif;
  /* background-color: aquamarine; */
}

.catCaption {
  height: 20%;
  /* font-size: 17px; */
  font-size: 100%;
  line-height: 1.8;
  font-family: "Libre Franklin", sans-serif;
  /* background-color: palegreen; */
}

/* Summery Page Styles */
.sumPageContainer {
  width: 100%;
  height: 380px;
  display: flex;
  padding: 2.5% 0%;
  justify-content: space-evenly;
  background-color: #403d38;
}

.colOfPage {
  width: 22%;
  height: 80%;
  /* background-color: cadetblue; */
}

.colTitle {
  height: 15%;
  color: white;
  font-size: 25px;
  font-family: "Alegreya", serif;
  /* background-color: blue; */
}

.col1Contain {
  width: 90%;
  height: 80%;
  display: flex;
  flex-direction: column;
  /* background-color: olivedrab; */
}

.col1Caption {
  color: #969696;
  font-size: 17px;
  line-height: 1.8;
  padding-bottom: 8%;
  font-family: "Libre Franklin", sans-serif;
  /* background-color: black; */
}

.rowItemContainer {
  color: #969696;
  width: 100%;
  height: 50px;
  display: flex;
  font-size: 15px;
  align-items: center;
  flex-direction: row;
  border-bottom: 2px #504d47 solid;
  /* background-color: red; */
}

li {
  font-size: 17px;
  padding-left: 2%;
  list-style-type: none;
  font-family: "Libre Franklin", sans-serif;
  /* background-color: yellowgreen; */
}

/* Footer Styles  */
.footerContainer {
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2.5% 0%;
  justify-content: space-around;
  background-color: #353330;
}

.allRights {
  color: #969696;
  font-size: 15px;
  font-family: "Libre Franklin", sans-serif;
}

.socialIconsContainer {
  width: 18%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* background-color: plum; */
}

.socialIcon {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  color: #8c8a85;
  display: flex;
  font-size: 25px;
  align-items: center;
  justify-content: center;
  background-color: #484540;
}
